:root {
  --background: #000;
  --text-primary: #fff;
  --text-secondary: #d40011;
  --accent: #d40011;
  --border: #808080;
  --form-bg: #191919;
}

[data-theme="dark"] {
  --background: #000;
  --text-primary: #fff;
  --text-secondary: #d40011;
  --accent: #d40011;
  --border: #808080;
  --form-bg: #191919;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.appointment-container {
  background-color: black;
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  transition: all 0.5s;
}

.card-image {
  background-color: black;
  padding: 1em;
  max-height: 100em;
  max-width: 150em;
  box-shadow: 0px 0px 20px var(--border);
}

.card-body {
  background-color: black;
  color: white;
  margin: 1px;
  box-shadow: 0px 0px 20px var(--border);
}

@media screen and (max-width: 1500px) {
  .card-image {
    max-width: 90em;
  }
  .card-body {
    max-width: 90em;
  }
}

@media screen and (max-width: 1450px) {
  .card-image {
    max-width: 85em;
  }
  .card-body {
    max-width: 85em;
  }
}

@media screen and (max-width: 1400px) {
  .card-image {
    max-width: 80em;
  }
  .card-body {
    max-width: 80em;
  }
}
