:root {
  --background: #ffffff;
  --text-primary: #000;
  --text-secondary: #c22000;
  --accent: #c22000;
  --border: #333;
  --form-bg: #fff;
}


[data-theme="dark"] {
  --background: #000;
  --text-primary: #fff;
  --text-secondary: #c22000;
  --accent: #c22000;
  --border: #808080;
  --form-bg: #191919;
}

#logo {
  display: flex;
  /* justify-content: "flex-start" !important; */
}

nav {
  display: "flex";
  align-items: "center";
  border-bottom: 1px solid;
  font-size: "1.3em";
  font-weight: "bold";
  border-bottom: "solid 1px";
  padding: 10px 15px;
  background: #000000; 
  justify-content: "flex-end"
}


.logout {
  display: flex;
  padding: 15px,
}

* {
  padding: auto;
  margin: auto;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}


Link {
  font-size: "1.5em";
  color: var(--text-secondary);
  padding: 15px,

}

@media screen and (max-width: 478px) {
  .login {
    width: 95%;
  }
}
